*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #002339;
    color: azure;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700
    
}
.display{
    width: 100%;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;

}
.container h1{
    font-weight: 500
    font-size 45px;
}
.container span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;

}
.container button img{
    width: 20px;
    margin-right: 10px;
}
.container button{

    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;

}